.minitip{
    font-family: $tip-font;
    font-size: $tip-font-size;

    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    visibility: hidden;
    overflow: hidden;

    max-width: 250px;
    padding: $tip-padding;

    transition: opacity .1s ease-in-out;
    pointer-events: none;

    opacity: 0;
    color: $tip-text-color;
    border-radius: $tip-radius;
    background-color: $tip-bg-color;
    
    &_visible {
        visibility: visible;

        opacity: 1;
    }
}