@mixin triangle($position, $size, $color) {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    @if $position == bottom {
        bottom: -$size;
        left: 50%;
        transform: translateX(-50%);
        border-width: $size $size 0 $size;
        border-color: $color transparent transparent transparent;
    } @else if $position == top {
        top: -$size;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 $size $size $size;
        border-color: transparent transparent $color transparent;
    } @else if $position == left {
        left: -$size;
        border-width: $size $size $size 0;
        border-color: transparent $color transparent transparent;
    } @else {
        right: -$size;
        border-width: $size 0 $size $size;
        border-color: transparent transparent transparent $color;
    }
}