$tip-bg-color: rgba(0, 0, 0, .8);
$tip-text-color: #fafafa;
$tip-font: 'Open Sans', Roboto, Ubuntu, Arial, sans-serif;
$tip-font-size: 16px;
$tip-padding: 10px;
$tip-size-triangle: 10px;
$tip-radius: 2px;